.wrapper {
  display: flex;
  height: 504px;
  width: 100%;
  min-height: 504px;
  &-image-section {
    width: 536px;
    height: 504px;
    background-image: url(./img/Untitled.png);
    background-size: cover;
    &-text {
      width: 155px;
      height: 126px;
      text-align: left;
      letter-spacing: 0;
      color: #f2f7f9;
      font-size: 36px;
      font-weight: 800;
      padding: 60px 80px 0 80px;
      font-family: "Work Sans";
    }
    &-icon {
      width: 20px;
      min-height: 20px;
      background-color: white;
      background-size: cover;
      margin-left: 80px;
      margin-top: 12px;
    }
  }
}
.content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 504px;
  width: 828px;
  &-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 33px;
    border-bottom: solid 1px #c8c8c8;
    padding: 12px 12px 12px 0;
    margin: 0 50px;
    &:nth-child(1) {
      margin-top: 50px;
    }
    &:nth-child(8) {
      margin-bottom: 50px;
    }
    &-txt {
      height: 20px;
      color: #495262;
      font-size: 16px;
      width: 100%;
      font-family: "Source Sans Pro";
      font-weight: 600;
    }
    &-arrow {
      height: 6px;
      width: 6px;
      background-color: black;
      align-self: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    flex-direction: column;
    &-image-section {
      min-height: 257px;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-text {
        padding: 0;
        text-align: center;
      }
      &-icon {
        margin-left: 0;
        margin-top: 9px;
      }
    }
  }

  .content {
    height: auto;
    width: 100%;
    &-section {
      margin: 0 21px;
      height: 64px;
      padding: 0 12px 12px 0;
      &:nth-child(8) {
        margin-bottom: 0px;
      }
      &:nth-child(1) {
        margin-top: 0px;
      }
      &-txt {
        height: auto;
        width: 359px;
      }
      &-arrow {
        &:nth-child(2) {
          margin-top: 40px !important;
        }
      }
    }
  }
}
